/* Style de base pour le formulaire de recherche */
form {
    display: flex;
    justify-content: center;
}

input {
    border-radius: 20px;
    outline: none;
    border: none;
    padding: 5px;
    top: 20%;
    margin: 1em;
    z-index: 1;
}



.all-container {
    min-width: 400px;
    width: 40vw;
    max-width: 400px;
    height: 80vh;
    background-color: rgb(77,77,97);
    padding-left: 0;
    padding-right: 0;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.principal {
    position: relative;
    height: 50%;
}

.resenti,.minMax {
    position: relative;
    background-color: rgba(255, 255, 255, 0.619);    
    font-weight: bold;
    white-space: nowrap;
    color: black;
    width: 200px;
    left: 50%;
    transform: translateX(-50%);
}

.minMax{
    width: 250px;
}

.principal img {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0;
}


.principal .principal-data {
    position: relative;
    z-index: 99;
    top: 15%;
}



.representation{
    width: 5vw;
    height: 5vw;
    max-width: 35px;
    max-height: 35px;
}

@media screen and  (max-height:850px ) {
    .all-container {
        width: 100vw;
        height: 90vh;
    }
}

@media screen and (max-width:450px ), (max-height:750px ){
    .all-container {
        width: 100vw;
        height: 100vh;
    }
}

