<form  (submit)="onsubmit()" >
  <input type="text" id="searchInput"  [(ngModel)]="city" placeholder="Search..."  name="city" id="city">
</form>

<div class="container all-container shadow  rounded-3" *ngIf="todayWeatherData && weatherData">
  <div class="principal text-dark">
    <img class="rounded-3" src="../../assets/chaud.png" alt="" srcset="" *ngIf="todayWeatherData.is_day==1">
    <img class="rounded-3" src="../../assets/froid.png" alt="" srcset="" *ngIf="todayWeatherData.is_day==0">

    <div class="principal-data text-center">
      <p>{{daydate}}</p>
      <h3>{{cityTitle}}</h3>
      <h2 class=" fw-bold" style="font-size: 4em;"> {{todayWeatherData.temp_c}} &#176;C</h2>
      <h4 class="resenti my-3 p-1">
        ressenti : {{todayWeatherData.feelslike_c}} &#176;C
      </h4>

      <div class="minMax d-flex justify-content-center mt-5">
        <h4 class="mx-2 fw-bold">min {{weatherData.forecastday[0].day.mintemp_c}} &#176; </h4>
        <h4 class="mx-2 fw-bold">max {{weatherData.forecastday[0].day.maxtemp_c}} &#176; </h4>
      </div>
    </div>
  </div>

  <div class="details container rounded-3">
    <p>toutes les infos</p>
    <div class="container">
      <app-curent-day [todayInfo]="curentDay"></app-curent-day>
      <h6 class="border-bottom border-dark py-2"><img class="representation" src="../../assets/calendar.png"> PREVISIONS
        QUOTIDIENNES</h6>

      <div *ngFor="let aDay of weatherData.forecastday ">
        <app-day [days]="aDay"></app-day>
      </div>
    </div>
  </div>


</div>